.staff-list:nth-child(even){
    opacity: 0.9;
}

.staff-list:hover{
    opacity: 0.7;
}

.staff-list{
    transition: 0.3s;
    cursor: pointer;
}

.add-btn {
    position: absolute;
    top: 150px;
    right: 120px;
    cursor: pointer;
}

.row {
    min-height: 200px;
}