<header>
  <mdb-navbar SideClass="navbar fixed-top rgba-purple-strong navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav"
    [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>SDA</strong></a>
    </mdb-navbar-brand>
  </mdb-navbar>
</header>
<!--Main Layout-->
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--Main Layout-->