<div class="row pb-4" style="margin-top: 100px;">
  <!-- Template form container-->
  <div class=" bcol-md-6 wow fadeInUp text-dark" style=" min-height: 400px;">
    <!-- <p>
      <input type="text" id="test" [(ngModel)]="test" class="form-control mb-4" name="test" placeholder="Staff Name">
    </p> -->
    <!-- <form #templateStaffDetailsForm='ngForm' class="rgba-white-strong rounded px-5 h-100">
      <h4 class="pt-3 cyan-text font-weight-bold">Template Form</h4>
      <h4 class="mb-4">Hello, Add new Staff Here</h4>
     
      <p>{{templateStaffDetailsForm.value | json}}</p>
      <input type="text" id="name" [(ngModel)]="staffDetails.name" class="form-control mb-4" name="tName" placeholder="Staff Name">
      <p>Use the "Add New Skill" button to add multiple skills.</p>
      <input type="text" id="skill" [(ngModel)]="tSkillName" class="form-control mb-2" name="tSkillName" placeholder="Skill Name">
      <input type="text" id="desc" [(ngModel)]="tSkillDesc" class="form-control mb-2" name="tSkillDesc" placeholder="Skill Description">
      <button mdbBtn color="secondary" block="" class="" type="button">Add New Skill</button>
      
      <button mdbBtn color="info" block="" class="" type="submit">Add Staff</button>
    </form> -->
  </div>

  <!-- Reactive form container -->
  <div class="col-md-6 wow fadeInUp" style=" min-height: 400px;">
    <form [formGroup]="reactiveStaffDetailsForm" class="cyan rounded px-5 h-100">
      <h4 class="pt-3 font-weight-bold">Reactive Form</h4>
      <h4 class="mb-4">Hello, Add new Staff Here</h4>
      <!-- Name -->
      <p>{{reactiveStaffDetailsForm.value | json}}</p>
      <input type="text" id="skill" class="form-control mb-2" placeholder="Skill" formControlName="name">
      <p>Use the "Add New Skill" button to add multiple skills.</p>
      <input type="text" id="skill" class="form-control mb-2" placeholder="Skill Name" formControlName="skillName">
      <input type="text" id="desc" class="form-control mb-2" placeholder="Skill Description" formControlName="skillDesc">
      <button class="btn btn-default" type="button">Add New Skill</button>
      <!-- Sign in button -->
      <button class="btn btn-primary" type="submit">Add Staff</button>
    </form>
  </div>
</div>