/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,400,700,900');

* {
    font-family: 'Noto Sans SC', sans-serif;
}

body {
    margin-top: 70px;
    background: url("src/assets/images/tie.jpg")no-repeat center center;
    background-size: cover;
}
